body {
    font-family: 'Segoe UI', sans-serif;
    margin: 0;
    background: #f8f8f8;
    background-image: url(/public/assets/image/ps2.jfif);
  }
  
  header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background:rgb(255, 255, 255);
    border-bottom: 1px solid #ca2d2d;
    padding: 15px 30px;
  }
  
  header .logo {
    font-weight: bold;
    font-size: 1.5em;
  }
  
  header nav a {
    margin: 0 15px;
    text-decoration: none;
    color: #333;
  }
  
  main {
    padding: 30px;
    background: #000000;
    max-width: 900px;
    margin: auto;
    border: 1px dashed rgb(0, 0, 0);
  }
  
  main h1 {
    margin-bottom: 20px;
  }
  
  .jogo {
    display: flex;
    border: 1px dashed #555;
    margin-bottom: 20px;
    padding: 10px;
    background: #f0f0f0;
  }
  
  .jogo img {
    width: 160px;
    height: 90px;
    object-fit: cover;
    margin-right: 20px;
  }
  
  .info {
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
  
  .info h2 {
    margin: 0 0 10px;
    font-size: 1.2em;
  }
  
  .info p {
    margin: 0 0 10px;
  }
  
  .info a {
    color: green;
    text-decoration: none;
    font-weight: bold;
  }
  
  footer {
    text-align: center;
    padding: 20px;
    border-top: 1px dashed #ccc;
    background: #fff;
  }
  
  .botao-download {
    border: 2px dashed orange;
    padding: 10px 30px;
    text-decoration: none;
    color: orange;
    font-weight: bold;
  }